
<div class="control-group nested-fields">
<%= f.label :order, class: 'input-group-addon' %>
<%= f.select(:order_in_recipe, 1..20) %>

<%= f.label :type, class: 'input-group-addon' %>
<%= f.select(:active, [['Active', true], ['Passive', false]]) %>

<%= f.label :description, class: 'input-group-addon' %>
<%= f.text_area :description, class: 'form-control' %>

<%= f.label :time, class: 'input-group-addon' %>
<%= f.select(:time, 1..60) %>

	<%= link_to_remove_association "Remove Step", f %>
</div>