<%= form_for @meal do |f| %>
  <div class="input-group">	
  		<%= f.label :meal_name, class: 'input-group-addon' %>
  		<%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <div class="input-group">	
	    <%= f.label :recipe_1, class: 'input-group-addon' %>
	    <%= f.collection_select(:recipe01, Recipe.all, :id, :name) %>
  </div>
  <br>
  <div class="input-group">
		<%= f.label :recipe_2, class: 'input-group-addon' %>
		<%= f.collection_select(:recipe02, Recipe.all, :id, :name) %>
  </div>
  <br>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>