<h1>
<%= @meal.name %>: <%= link_to Recipe.find(@meal.recipe01).name, recipe_path(@meal.recipe01) %> & <%= link_to Recipe.find(@meal.recipe02).name, recipe_path(@meal.recipe02) %>
</h1>

<% @list.each do |step| %>
<%= step[3] %>: <%= step[2] %> (<%= step[0]%>)<br>
<% end %>
    
<br>
<%= link_to 'Delete Meal', meal_path(@meal), method: :delete %>